* {
    box-sizing: border-box;
}

body, 
html {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.row {
    height: 2px;
    border: 1px solid #000;
    right: 0;
    width: 100%;
}

.col {
    border: 1px solid #000;
    width: 2px;
    bottom: 0;
}